
/* .covered{
    width:100%; 
    height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    color: black;
    background-image: url("./images/34.jpg");
    padding: auto; 
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; 
/* }
.about-heading p{
    font-size: 4.5rem;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
*/

.about-img{
    height: auto;
    width: auto;
    overflow: hidden;
    background-size: cover;
    border-radius: 20px;
}
/*
.container{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    padding: 10px;
    height: 70%;
    width: 60%;
    margin: auto;
}

.about-img{
    flex: 2;
}

.about-info1{
    flex: 2;
    margin-left: 30px;
    font-size: 20px;
} */



.covered{
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(200px,auto)); */
    align-items: center;
    /* background-image: url("./images/34.jpg"); */
    /* background-size: cover; */
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
    gap: 10px;
   
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    height: 80vh;

} 

.about-text h2{
    font-family: 'Dosis', sans-serif;
    font-size: 3rem;
    font-weight: 1000;
    margin-bottom: 10px;
    color: rgb(218, 231, 26);
}

.about-text h5{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: antiquewhite;
}

span{
    color: tomato;
}

.about-text p{
    color: white;
    font-size: 20px;
    margin-bottom:3rem;
    line-height: 30px;
}
.covered img{
    height: auto;
    width: 70%;
    border-radius: 20px;
    border: 5px solid wheat;
}